@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

@import url(../blocks/body/body.css);

@media screen and (max-width: 1280px) {
  .header {
    max-width: 1184px;
    min-height: 52px;
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    max-width: 176px;
    max-height: 52px;
  }

  .language {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    column-gap: 18px;
  }

  .header__lang-link {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
  }

  .header__lang-link:hover {
    text-decoration: underline;
  }

  .header__lang-link_active {
    text-decoration: underline;
  }

  .lead {
    max-width: 984px;
    min-height: 1005px;
    margin: 56px auto 0;
  }

  .lead__title {
    text-align: center;
    max-width: 720px;
    min-height: 200px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
  }

  .lead__subtitle {
    text-align: center;
    max-width: 640px;
    min-height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 0;
  }

  .lead__image {
    max-width: 984px;
    max-height: 615px;
    margin: 64px auto 0;
  }

  .lead__caption {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 8px;
    text-align: left;
    margin-bottom: 0;
  }

  .intro {
    max-width: 690px;
    min-height: 429px;
    margin: 92px 442px 0 148px;
  }

  .intro__title {
    max-width: 690px;
    min-height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
  }

  .intro__text {
    max-width: 690px;
    min-height: 208px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-top: 40px;
    margin-bottom: 33px;
  }

  .intro__list {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }

  .photo-grid {
    margin: 92px auto 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, auto));
    gap: 16px;
  }

  .photo-grid__item {
    width: 100%;
  }

  .places {
    max-width: 984px;
    min-height: 3392px;
    margin: 0 auto 0;
  }

  .place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 47% 53%;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
    height: max-content;

  }

  .place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;

  }

  .place__website {
    place-self: end start;
  }

  .place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-top: 0;
  }

  .place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .place__link:hover {
    opacity: 0.8;
  }

  .place__image {
    max-width: 460px;
    max-height: 460px;
    width: 100%;
  }

  .place__paragraphs {
  }

  .place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px 0;
  }

  .place__paragraph:last-child {
    margin: 0;
  }

  .cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 92px auto 0;
    position: relative;
    overflow: hidden;
  }

  .cover__link {
    color: #FFFFFF;
    text-decoration: none;

  }

  .cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    min-height: 152px;
    margin: 245px auto 0;
    position: relative;
    z-index: 2;
  }

  .cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px auto 0;
    max-width: 360px;
    min-height: 66px;
    position: relative;
    z-index: 2;
  }

  .cover__background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8
  }

  .cover__background:hover {
    opacity: 0.3;
    transition: opacity 1s;
  }

  .footer {
    margin: 92px auto 24px;
    max-width: 1184px;
    min-height: 18px;
    display: flex;
    justify-content: space-between;
  }

  .footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
  }

  .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  .footer__copyright {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .body {
    max-width: 1024px;
  }

  .header {
    max-width: 928px;
    min-height: 52px;
  }
  .header__logo {
    max-width: 176px;
    max-height: 52px;
  }

  .lead {
    max-width: 928px;
    min-height: 962px;
    margin: 48px auto 0;
  }
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 56px auto 0;
  }

  .intro {
    max-width: 690px;
    min-height: 429px;
    margin: 92px 286px 0 48px;
  }

  .photo-grid {
    max-width: 928px;
  }

  .places {
    max-width: 928px;
    min-height: 3292px;
  }

  .place {
    max-width: 928px;
    column-gap: 32px;
    height: max-content;
  }

  .place__image {
    max-width: 440px;
    max-height: 440px;
  }

  .place__paragraph {
    margin: 0 0 27px 0;
  }

  .cover {
    max-width: 1024px;
    min-height: 640px;
  }

  .cover__title {
    margin: 195px auto 0;
  }

  .footer {
    max-width: 928px;
    min-height: 18px;
  }
}